baslik {
    display: block;
    font-size: bold;
    margin-bottom: 32px;
    color: blueviolet;
}

misra {
    display: block;
}

dortluk{
    display: block;
    margin-bottom: 16px;
}

sair {
    display: block;
    font-style: italic;
}