baslik {
    display: block;
    font-size: bold;
    margin-bottom: 24px;
    color: blueviolet;
    font-size: 36px;
}

misra {
    display: block;
}

dortluk{
    display: block;
    margin-bottom: 16px;
}

sair {
    display: block;
    font-style: italic;
}